- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

%div
  .page-title
    .title_left
      %h3 Admins
       
    .title_right
      - if current_admin.is_super_admin?
        = link_to 'Invite admin', new_admin_invitation_path, class: 'btn btn-info btn-round pull-right'

  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table.datatable.admins
            %thead
              %tr
                %th{style: 'width:30px'} #
                %th Avatar
                %th Name
                %th Email
                %th Superadmin
                %th Status
                %th Actions
              %tr
                %th{style: 'width:30px'}
                  = text_field_tag :id, '', class: 'form-control', style: 'width:100%'
                %th
                %th
                  = text_field_tag :name, '', class: 'form-control', style: 'width:100%'
                %th
                  = text_field_tag :email, '', class: 'form-control', style: 'width:100%'
                %th
                  = select_tag :is_super_admin, options_for_select([[], ['Yes', true], ['No', false]]),  class: 'form-control select2'
                %th
                  = select_tag :is_active, options_for_select([[], ['Active', true], ['Locked', false]]),  class: 'form-control select2'
                %th
            %tbody
