.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Main Info
      .clearfix
    .x_content
      %br
      
      - if current_admin.is_super_admin?
        .form-group
          = f.label :admin_id, 'Admin', class: 'control-label col-md-3 col-sm-3 col-xs-12'
          .col-md-9.col-sm-9.col-xs-12
            = f.select :admin_id, @boarding.admins_for_select, { include_blank: true }, { class: 'select2' }
      .form-group
        = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Name
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :name, class: 'form-control', required: true
      .form-group
        = f.label :picture, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Picture
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          -if @boarding.picture?
            =image_tag @boarding.picture.medium.url, class: 'avatar-show', style: ' display:block;margin:auto'

          = f.file_field :picture
          = f.hidden_field :picture_cache
      .form-group
        = f.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Email
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.email_field :email, class: 'form-control', required: true
      .form-group
        = f.label :website, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :website, class: 'form-control'
      .form-group
        = f.label :mobile_number, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Phone
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :mobile_number, class: 'form-control', required: true
      .form-group
        = f.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.text_area :description, rows: 5, class: 'form-control no-resize'
      .form-group
        = label_tag :service_options, 'Service options', class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12{ style: 'min-height:27px' }
          = f.fields_for :service_option_details do |ff|
            .form-group
              .col-md-4.col-sm-4.col-xs-4.check_boxes
                = check_box_tag nil, nil, f.object.persisted?, class: 'flat service_option_switch', id: f.index
                = ff.check_box :_destroy, class: "_destroy hide" if ff.object.persisted?
                = ff.hidden_field :service_option_id
                = ff.object.name
              .col-md-4.col-sm-4.col-xs-4.service_option_details_fields{ class: "#{'hiden' if ff.object.new_record?}" }
                = ff.number_field :price, step: '0.01', placeholder: 'Price', class: 'form-control'
