%tr
  %th{ scope: 'row' }= appointment.id
  %td= appointment.booked_object
  %td= appointment.vet_name
  %td= appointment.created_at
  %td= appointment.start_at
  %td= appointment.status_label
  %td= appointment.actions
