%div
  .page-title
    .title_left
      %h3
        Booking
        %span{ class: "label #{status_class(@appointment)}" }= @appointment.status
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          .row
            .col-md-3.col-sm-3.col-xs-12.profile_left
              %section.panel
                .x_title
                  %h4 Customer info
                  .clearfix

                .panel-body
                  %ul.list-unstyled.user_data
                    %li
                      %i.fa.fa-map-marker.user-profile-icon
                      = @appointment.user.name
                    %li
                      %i.fa.fa-phone.user-profile-icon
                      = @appointment.user.mobile_number
                    %li
                      %i.fa.fa-envelope.user-profile-icon
                      = @appointment.user.email
            .col-md-3.col-sm-3.col-xs-12
              %section.panel
                .x_title
                  %h4 Booking info
                  .clearfix

                .panel-body
                  .project_detail
                    %p.title= @appointment.bookable.name
                    %p= @appointment.bookable_type

                    - if @appointment.for_clinic?
                      %table.table
                        %thead
                          %tr
                            %th #
                            %th Vet
                            %th Consultation fee
                        %tbody
                          %tr
                            %td 1
                            %td= @appointment.vet.name
                            %td= @appointment.vet.consultation_fee
                    - else
                      %table.table
                        %thead
                          %tr
                            %th #
                            %th Service
                            %th Quantity
                            %th Price
                            %th Sum
                        %tbody
                          - @appointment.cart_items.select{ |ci| ci.pet_id.blank? }.each_with_index do |c, i|
                            %tr
                              %td= i + 1
                              %td= c.serviceable.name
                              %td= c.quantity
                              %td= c.price
                              %td= c.total_price
                            
                    %p.title Total price
                    %p= @appointment.total_price

                    %p.title Booked time
                    %p= @appointment.created_at.strftime('%-d %b %Y %I:%M %p')

                    %p.title Session start
                    %p= @appointment.start_at.strftime('%-d %b %Y %I:%M %p')

                    %p.title Comment
                    %p= @appointment.comment
                  .text-center.mtop20
                    = appointment_actions(@appointment)
            - if @appointment.for_clinic? && @appointment.past?
              = render partial: 'next_appointment', locals: { next_appointment: @appointment.next_appointment }
          .row
            - @appointment.pets.each do |pet|
              .row
                .col-md-3.col-sm-3.col-xs-12.profile_left
                  %section.panel
                    .x_title
                      %h4 Pet info
                      .clearfix

                    .panel-body
                      .profile_img
                        = image_tag(pet.avatar.medium.url, class: 'img-responsive avatar-view', title:  pet.name) if pet.avatar?
                      %ul.list-unstyled.user_data
                        %li
                          = pet.name
                        %li
                          %i.fa.fa-paw.user-profile-icon
                          = pet.pet_type.is_additional_type? ? pet.additional_type : pet.pet_type.name + ': ' + pet.breed.name
                        %li
                          %i.fa.fa-birthday-cake.user-profile-icon
                          = pet.birthday.strftime('%-d %b %Y %I:%M %p')
                        %li
                          Weight: 
                          = pet.weight
                        %li= link_to 'Vaccinations', vaccinations_admin_panel_pet_path(pet), class: 'btn btn-info btn-xs'
                        %li= link_to 'Diagnoses', diagnoses_admin_panel_pet_path(pet), class: 'btn btn-info btn-xs' if @appointment.for_clinic?
                - if @appointment.for_clinic?
                  - diagnosis = @appointment.diagnoses.select{ |d| d.pet_id == pet.id }.first
                  = render partial: 'admin_panel/diagnoses/diagnosis', locals: { pet_id: pet.id, diagnosis: diagnosis } if @appointment.past?
                - else
                  .col-md-6.col-sm-6.col-xs-12
                    %section.panel
                      .x_title
                        %h4 Services
                        .clearfix

                    %table.table
                      %thead
                        %tr
                          %th #
                          %th Service
                          %th Quantity
                          %th Price
                          %th Sum
                      %tbody
                        - @appointment.cart_items.select{ |ci| ci.pet_id == pet.id }.each_with_index do |c, i|
                          %tr
                            %td= i + 1
                            %td= c.serviceable.name
                            %td= c.quantity
                            %td= c.price
                            %td= c.total_price
