%div
  .page-title
    .title_left
      %h3 Trainers 
    .title_right
      = link_to 'Create trainer', new_admin_panel_trainer_path, class: 'btn btn-info btn-round pull-right'

  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table
            %thead
              %tr
                %th #
                %th Name
                %th Avatar
                %th Email
                %th Phone
                %th Experience
                %th Status
                %th Actions
            %tbody
              - @trainers.each do |trainer|
                %tr
                  %th{ scope: 'row' } #{trainer.id}
                  %td #{trainer.name}
                  %td
                    -if trainer.picture.present?
                      =image_tag(trainer.picture.thumb.url)
                  %td #{trainer.email}
                  %td #{trainer.mobile_number}
                  %td #{trainer.experience}
                  %td #{trainer.is_active}
                  %td
                    =link_to 'Show', admin_panel_trainer_path(trainer), class: 'btn btn-primary'
                    =link_to 'Edit', edit_admin_panel_trainer_path(trainer), class: 'btn btn-warning'
                    =link_to 'Delete', admin_panel_trainer_path(trainer), method: :delete, class: 'btn btn-danger'
