%div
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2= @user.name
          .clearfix
        .x_content
          .col-md-3.col-sm-3.col-xs-12.profile_left
            %ul.list-unstyled.user_data
              %li
                %i.fa.fa-briefcase.user-profile-icon
                = @user.email
              %li
                %i.fa.fa-phone.user-profile-icon
                = @user.mobile_number
              %li
                %i.fa.fa-map-marker.user-profile-icon
                = @user.address

            =link_to edit_admin_panel_user_path(@user), class: 'btn btn-warning' do
              %i.fa.fa-edit.m-right-xs
              Edit user
            %br

          .col-md-9.col-sm-9.col-xs-12
            -if @user.location&.longitude && @user.location&.latitude 
              %div{ style: 'width: 100%; height: 300px; position: relative;' }
                %img{ src: generate_static_map_url(@user.location), style: 'max-widrth: 100%; display: block; margin: 0 auto;'}
            .profile_title
              .col-md-6.col-sm-6.col-xs-6
                %h2 Total count of pets #{@user.pets.size}
            %table.table
              %thead
                %tr
                  %th #
                  %th Name
                  %th Picture
                  %th Birthday
                  %th Species
                  %th Gender
                  %th Weight
                  %th Status
                  %th Actions
              %tbody
                = render @user.pets
