%li{ class: "#{'current-page' if current_page?(admin_panel_users_path)}" }
  = link_to admin_panel_users_path do
    %i.fa.fa-users
    Users
%li{ class: "#{'current-page' if current_page?(admin_panel_pets_path)}" }
  = link_to admin_panel_pets_path do
    %i.fa.fa-paw
    Pets
%li{ class: "#{'current-page' if current_page?(admin_panel_pettypes_path)}" }
  = link_to admin_panel_pettypes_path do
    %i.fa.fa-paw
    Pet Types
%li{ class: "#{'current-page' if current_page?(admin_panel_item_categories_path)}" }
  = link_to admin_panel_item_categories_path do
    %i.fa.fa-table
    Item Categories
%li{ class: "#{'current-page' if current_page?(admin_panel_item_brands_path)}" }
  = link_to admin_panel_item_brands_path do
    %i.fa.fa-table
    Category Brands
%li{ class: "#{'current-page' if current_page?(admin_panel_items_path)}" }
  = link_to admin_panel_items_path do
    %i.fa.fa-table
    Catalog
%li{ class: "#{'current-page' if current_page?(admin_panel_orders_path)}" }
  = link_to admin_panel_orders_path do
    %i.fa.fa-table
    Orders
    - if @new_orders_count.present? && !@new_orders_count.zero?
      %span.badge.bg-green= @new_orders_count
%li{ class: "#{'current-page' if current_page?(admin_panel_tax_reports_path)}" }
  = link_to admin_panel_tax_reports_path do
    %i.fa.fa-table
    Tax reports

%li{ class: "#{'current-page' if current_page?(admin_panel_invoices_path)}" }
  = link_to admin_panel_invoices_path do
    %i.fa.fa-table
    Invoices

%li{ class: "#{'current-page' if current_page?(admin_panel_contact_requests_path)}" }
  = link_to admin_panel_contact_requests_path do
    %i.fa.fa-table
    Contact requests
    - if @new_contact_requests_count.present? && !@new_contact_requests_count.zero?
      %span.badge.bg-green= @new_contact_requests_count
