%li{ class: "#{'current-page' if current_page?(admin_panel_users_path)}" }
  = link_to admin_panel_users_path do
    %i.fa.fa-users
    Users
%li{ class: "#{'current-page' if current_page?(admin_panel_pets_path)}" }
  = link_to admin_panel_pets_path do
    %i.fa.fa-paw
    Pets
%li{ class: "#{'current-page' if current_page?(admin_panel_day_care_centres_path)}" }
  = link_to admin_panel_day_care_centres_path do
    %i.fa.fa-tasks
    DayCare Centres
%li{ class: "#{'current-page' if current_page?(admin_panel_boardings_path)}" }
  = link_to admin_panel_boardings_path do
    %i.fa.fa-tasks
    Boardings
%li{ class: "#{'current-page' if current_page?(admin_panel_grooming_centres_path)}" }
  = link_to admin_panel_grooming_centres_path do
    %i.fa.fa-scissors
    Grooming Centres
%li{ class: "#{'current-page' if current_page?(admin_panel_appointments_path)}" }
  = link_to admin_panel_appointments_path do
    %i.fa.fa-table
    Appointments
    - if @new_appointments_count.present? && !@new_appointments_count.zero?
      %span.badge.bg-green= @new_appointments_count
    - if current_admin.unread_commented_appointments_count.present? && !current_admin.unread_commented_appointments_count.zero?
      %span.fa.fa-comment{ style: 'color:orange' }= current_admin.unread_commented_appointments_count

