.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title{style: "border: 0;"}
    
      = link_to root_path, class: 'site_title' do
        %img{src: '/images/AppIcon.png', style: 'height:80%; border-radius:50%'}
        %span UrPetsLife

    .clearfix

    %br

    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %ul.nav.side-menu
          %li{ class: "#{'current-page' if current_page?(admin_panel_admins_path)}" }
            = link_to admin_panel_admins_path do
              %i.fa.fa-edit
              Admins
          %li{ class: "#{'current-page' if current_page?(admin_panel_users_path)}" }
            = link_to admin_panel_users_path do
              %i.fa.fa-users
              Users
          %li{ class: "#{'current-page' if current_page?(admin_panel_clinics_path)}" }
            = link_to admin_panel_clinics_path do
              %i.fa.fa-plus-square
              Clinics
          %li{ class: "#{'current-page' if current_page?(admin_panel_vets_path)}" }
            = link_to admin_panel_vets_path do
              %i.fa.fa-stethoscope
              Vets
          %li{ class: "#{'current-page' if current_page?(admin_panel_day_care_centres_path)}" }
            = link_to admin_panel_day_care_centres_path do
              %i.fa.fa-tasks
              Day Care Centres
          %li{ class: "#{'current-page' if current_page?(admin_panel_grooming_centres_path)}" }
            = link_to admin_panel_grooming_centres_path do
              %i.fa.fa-scissors
              Grooming Centres
          %li{ class: "#{'current-page' if current_page?(admin_panel_trainers_path)}" }
            = link_to admin_panel_trainers_path do
              %i.fa.fa-male
              Trainers
          %li{ class: "#{'current-page' if current_page?(admin_panel_appointments_path)}" }
            = link_to admin_panel_appointments_path do
              %i.fa.fa-table
              Appointmets
