%li{ class: "#{'current-page' if current_page?(admin_panel_admins_path)}" }
  = link_to admin_panel_admins_path do
    %i.fa.fa-edit
    Admins
%li{ class: "#{'current-page' if current_page?(admin_panel_users_path)}" }
  = link_to admin_panel_users_path do
    %i.fa.fa-users
    Users
%li{ class: "#{'current-page' if current_page?(admin_panel_pets_path)}" }
  = link_to admin_panel_pets_path do
    %i.fa.fa-paw
    Pets
%li{ class: "#{'current-page' if current_page?(admin_panel_pettypes_path)}" }
  = link_to admin_panel_pettypes_path do
    %i.fa.fa-paw
    Pet Types
%li{ class: "#{'current-page' if current_page?(admin_panel_item_categories_path)}" }
  = link_to admin_panel_item_categories_path do
    %i.fa.fa-table
    Item Categories
%li{ class: "#{'current-page' if current_page?(admin_panel_item_brands_path)}" }
  = link_to admin_panel_item_brands_path do
    %i.fa.fa-table
    Category Brands
%li{ class: "#{'current-page' if current_page?(admin_panel_items_path)}" }
  = link_to admin_panel_items_path do
    %i.fa.fa-table
    Catalog
%li{ class: "#{'current-page' if current_page?(admin_panel_orders_path)}" }
  = link_to admin_panel_orders_path do
    %i.fa.fa-table
    Orders
    - if @new_orders_count.present? && !@new_orders_count.zero?
      %span.badge.bg-green= @new_orders_count
%li{ class: "#{'current-page' if current_page?(admin_panel_tax_reports_path)}" }
  = link_to admin_panel_tax_reports_path do
    %i.fa.fa-table
    Tax reports

%li{ class: "#{'current-page' if current_page?(admin_panel_invoices_path)}" }
  = link_to admin_panel_invoices_path do
    %i.fa.fa-table
    Invoices
%li{ class: "#{'current-page' if current_page?(admin_panel_clinics_path)}" }
  = link_to admin_panel_clinics_path do
    %i.fa.fa-plus-square
    Clinics
%li{ class: "#{'current-page' if current_page?(admin_panel_vets_path)}" }
  = link_to admin_panel_vets_path do
    %i.fa.fa-stethoscope
    Vets
%li{ class: "#{'current-page' if current_page?(admin_panel_day_care_centres_path)}" }
  = link_to admin_panel_day_care_centres_path do
    %i.fa.fa-tasks
    DayCare Centres
%li{ class: "#{'current-page' if current_page?(admin_panel_boardings_path)}" }
  = link_to admin_panel_boardings_path do
    %i.fa.fa-tasks
    Boardings
%li{ class: "#{'current-page' if current_page?(admin_panel_grooming_centres_path)}" }
  = link_to admin_panel_grooming_centres_path do
    %i.fa.fa-scissors
    Grooming Centres
%li{ class: "#{'current-page' if current_page?(admin_panel_trainers_path)}" }
  = link_to admin_panel_trainers_path do
    %i.fa.fa-male
    Trainers
%li{ class: "#{'current-page' if current_page?(admin_panel_appointments_path)}" }
  = link_to admin_panel_appointments_path do
    %i.fa.fa-table
    Appointments
%li{ class: "#{'current-page' if current_page?(admin_panel_contact_requests_path)}" }
  = link_to admin_panel_contact_requests_path do
    %i.fa.fa-table
    Contact requests
    - if @new_contact_requests_count.present? && !@new_contact_requests_count.zero?
      %span.badge.bg-green= @new_contact_requests_count
%li{ class: "#{'current-page' if current_page?(admin_panel_posts_path)}" }
  = link_to admin_panel_posts_path do
    %i.fa.fa-table
    Posts
%li{ class: "#{'current-page' if current_page?(admin_panel_additional_services_path)}" }
  = link_to admin_panel_additional_services_path do
    %i.fa.fa-table
    Additional Services
%li{ class: "#{'current-page' if current_page?(admin_panel_notifications_path)}" }
  = link_to admin_panel_notifications_path do
    %i.fa.fa-table
    Notifications
%li{ class: "#{'current-page' if current_page?(admin_panel_specializations_path)}" }
  = link_to admin_panel_specializations_path do
    %i.fa.fa-table
    Specializations

%li{ class: "#{'current-page' if current_page?(admin_panel_discount_domains_path)}" }
  = link_to admin_panel_discount_domains_path do
    %i.fa.fa-table
    Discount Domainss

%li{ class: "#{'current-page' if current_page?(admin_panel_ads_path)}" }
  = link_to admin_panel_ads_path do
    %i.fa.fa-table
    Ads
