%tr
  %th{ scope: 'row' } #{day_care_centre.id}
  %td #{day_care_centre.name}
  %td
    -if day_care_centre.picture.present?
      =image_tag(day_care_centre.picture.thumb.url)
  %td #{day_care_centre.email}
  %td #{day_care_centre.mobile_number}
  %td #{day_care_centre.is_active}
  %td
    =link_to 'Show', admin_panel_day_care_centre_path(day_care_centre), class: 'btn btn-primary'
    =link_to 'Edit', edit_admin_panel_day_care_centre_path(day_care_centre), class: 'btn btn-warning'
    =link_to 'Delete', admin_panel_day_care_centre_path(day_care_centre), method: :delete, class: 'btn btn-danger'
