.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @item }
- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Main Info
      .clearfix
    .x_content
      %br
      .form-group
        = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Product Name
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :name, class: 'form-control', required: true
      .form-group
        = f.label :unit_price, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Selling Price (per Item)
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :unit_price, class: 'form-control', required: true, step: ".01", min: 1
      .form-group
        = f.label :buying_price, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Buying Price (per Item)
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :buying_price, class: 'form-control', required: true, step: ".01", min: 1
      .form-group
        = f.label :discount, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Discount (%)

        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :discount, class: 'form-control', min: 0, max: 100, step: ".01"
      .form-group
        = f.label :unit, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Weight / Size
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :unit, class: 'form-control', required: true
      .form-group
        = f.label :supplier, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Supplier
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :supplier, class: 'form-control'
      .form-group
        = f.label :supplier_code, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Supplier Code
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :supplier_code, class: 'form-control'
      .form-group
        = f.label :quantity, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          In Stock Quantity
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :quantity, class: 'form-control', min: 0, required: true
      .form-group
        = f.label :expiry_at, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Expiry Date
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :expiry_at, value: @item.expiry_at&.strftime('%B %Y'), class: 'form-control month_picker'
      .form-group
        = f.label :pet_type_ids, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Pet Type
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.select :pet_type_ids, options_from_collection_for_select(PetType.all, 'id', 'name', @item.pet_types.ids), {}, { class: 'select2 clinics_select', multiple: true, required: true }
      .form-group
        = f.label :item_category_ids, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Item Category
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.select :item_category_ids, options_from_collection_for_select(ItemCategory.all, 'id', 'name', @item.item_categories.ids), {}, { class: 'select2 clinics_select', multiple: true, required: true }
      .form-group
        = f.label :item_brand_id, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Item Brand
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.select :item_brand_ids, options_from_collection_for_select(ItemBrand.all, 'id', 'name', @item.item_brand.ids), {}, { class: 'select2 clinics_select', multiple: true, required: true }
      .form-group
        = f.label :short_description, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Short Description
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_area :short_description, rows: 2, class: 'form-control', required: true
      .form-group
        = f.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Description
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_area :description, rows: 5, class: 'form-control no-resize', required: true
      .form-group
        = f.label :picture, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Picture
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          - if @item.picture?
            = image_tag @item.picture.url, class: 'avatar-show', style: 'display:block;margin:8px 0px;width:inherit;height:inherit;'
          = f.file_field :picture, accept: '.jpg,.jpeg,.bmp,.png', required:  @item.picture? ? false : true
