%div
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2= @item.name
          .clearfix
        .x_content
          .col-md-6.col-sm-6.col-xs-12.col-md-offset-3.col-sm-offset-3
            .profile_img
              #crop-avatar
                = image_tag(@item.picture.url, class: 'img-responsive avatar-view', title: @item.name) if @item.picture.present?

            %ul.list-unstyled.user_data
              %li
                %label
                  Name:
                = @item.name
              %li
                %label
                  Short Description:
                = @item.short_description
              %li
                %label
                  Description:
                = @item.description
              %li
                %label
                  Weight / Size:
                = @item.unit
              %li
                %label
                  Available Stock:
                = @item.quantity
              %li
                %label
                  Pet Types:
                - if @item.pet_types.present?
                  - @item.pet_types.each do |type|
                    = type.name
              %li
                %label
                  Categories:
                - if @item.item_category_ids.present?
                  - @item.item_categories.each do |category|
                    = category.name
              %li
                %label
                  Brand:
                - if @item.item_brand_ids.present?
                  - @item.item_brand.each do |brand|
                    = brand.name
              %li
                %label
                  Buying Price:
                = @item.buying_price
              %li
                %label
                  Selling Price:
                = @item.unit_price
              %li
                %label
                  Discount Price:
                = @item.price
              %li
                %label
                  Discount (%):
                = @item.discount
              %li
                %label
                  Expiry date:
                = @item.expiry_at&.strftime('%B %Y')
              %li
                %label
                  Is item show in app:
                = @item.is_active
              %li
                %label
                  Supplier:
                = @item.supplier
              %li
                %label
                  Supplie Code:
                = @item.supplier_code

            =link_to edit_admin_panel_item_path(@item), class: 'btn btn-warning' do
              %i.fa.fa-edit.m-right-xs
              Edit Item
            %br
