.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Service Options
      .clearfix
    .x_content
      %br

      .form-group
        = f.fields_for :service_option_details do |ff|
          .form-group
            .form-group
              .col-md-4.col-sm-4.col-xs-4.check_boxes
                = check_box_tag nil, nil, f.object.persisted?, class: 'flat service_option_switch', id: f.index
                = ff.check_box :_destroy, class: "_destroy hide" if ff.object.persisted?
                = ff.hidden_field :service_option_id, class: 'service_option_id', disabled: ff.object.new_record?
                = ff.object.name
              .col-md-4.col-sm-4.col-xs-4.service_option_details_fields{ class: "#{'hiden' if ff.object.new_record?}" }
                = ff.number_field :price, step: '0.01', placeholder: 'Price', class: 'form-control', required: true, disabled: ff.object.new_record?
            #service_option_times.service_option_times_fields{ class: "#{'hiden' if ff.object.new_record?}" }
              = ff.fields_for :service_option_times do |service_option_time|
                = render partial: 'admin_panel/service_option_times/fields', locals: { f: service_option_time }
              .links
                = link_to_add_association 'Add time', ff, :service_option_times, { class: 'btn btn-info', partial: 'admin_panel/service_option_times/fields' }
          %br
