.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @specialization }

  .col-md-6.col-sm-6.col-xs-12
    .x_panel
      .x_content
        %br

        .form-group
          = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
            Name
            %span.required *
          .col-md-9.col-sm-9.col-xs-12
            = f.text_field :name, class: 'form-control', required: true
        .form-group
          = f.label :is_for_trainer, 'For trainer', class: 'control-label col-md-3 col-sm-3 col-xs-12'
          .col-md-9.col-sm-9.col-xs-12
            = f.check_box :is_for_trainer, class: 'flat'
