.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Main Info
      .clearfix
    .x_content
      %br
      
      - if current_admin.is_super_admin?
        .form-group
          = f.label :clinic_id, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
            Clinic
            %span.required *
          .col-md-9.col-sm-9.col-xs-12
            = f.collection_select :clinic_id, Clinic.all, :id, :name, {}, { class: 'select2 clinics_select', required: true, id: 'clinic_id'}
      .form-group
        = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Name
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :name, class: 'form-control', required: true
      .form-group
        = f.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Email
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.email_field :email, class: 'form-control', required: true
      .form-group
        = f.label :avatar, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          -if @vet.avatar.present?
            =image_tag @vet.avatar.medium.url, class: 'avatar-show', style: ' display:block;margin:auto'

          = f.file_field :avatar
          = f.hidden_field :avatar_cache
      .form-group
        = f.label :mobile_number, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Phone
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :mobile_number, class: 'form-control', required: true
      .form-group
        = f.label :is_emergency, 'Work for emergency', class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.check_box :is_emergency, class: 'flat'
      .form-group
        = f.label :specialization_ids, 'Specializations', class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.collection_select :specialization_ids, Specialization.for_clinic, :id, :name, {}, { multiple: true, class: 'select2' }
      .form-group
        = f.label :pet_type_ids, 'Pet types', class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.collection_check_boxes :pet_type_ids, PetType.all, :id, :name do |pt|
            = pt.check_box(id: pt.object.name.downcase, class: "check_box_picture #{pt.object.name.downcase}")
            %label{for: pt.object.name.downcase, class: 'check_box_picture', title: pt.object.name}
      .form-group
        = f.label :experience, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :experience, class: 'form-control'
      .form-group
        = f.label :session_duration, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Session duration (minutes)
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.number_field :session_duration, class: 'form-control', required: true

