%tr
  %th{ scope: 'row' } #{vet.id}
  %td #{vet.name}
  %td
    -if vet.avatar.present?
      =image_tag(vet.avatar.thumb.url, class: 'avatar')
  %td #{vet.email}
  %td #{vet.mobile_number}
  %td #{vet.experience}
  %td #{vet.is_active}
  %td
    =link_to 'Show', admin_panel_vet_path(vet), class: 'btn btn-primary btn-xs'
    =link_to 'View calendar', admin_panel_vet_calendars_path(vet), class: 'btn btn-info btn-xs'
    =link_to 'Edit', edit_admin_panel_vet_path(vet), class: 'btn btn-warning btn-xs'
    =link_to 'Delete', admin_panel_vet_path(vet), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-xs'
