<!DOCTYPE html>
<html>
    <body>
		
		<div class="download">
			<div class="b_width">
				<div class="store">
          <a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8'><img class="d_ios" src="<%= asset_path 'home/app-store-badge-us-black.svg' %>"></a>
          <a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets'><img class="d_android" src="<%= asset_path 'home/google-play-badge-us.svg' %>"></a>
				</div>
				<div id="next_scroll" class="scroll">
					<img id="arrow" src="<%= asset_path 'home/Untitled.svg' %>">
					<p id="text">Text</p>
					<p class="mobile_text">Next</p>
				</div>
			</div>
		</div>

        <div class="header">

            <div class="b_width container">

                <div class="information">
                    <h1>From Paws to Tails we care,<br>because pets are family.</h1>
                    <p>Ur Pets Life is the first mobile application<br>worldwide that brings you a full 360° solution<br>and services that your pet can ever require.</p>

                    <div class="store_buttons">
                        <a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8'><img class="b_ios" src="<%= asset_path 'bottom/app-store-badge-us-black.svg' %>"></a>
                        <a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets'><img class="b_android" src="<%= asset_path 'bottom/google-play-badge-us.svg' %>"></a>
                    </div>

                </div>

                <img class="phones" src="<%= asset_path 'home/phones.png' %>">

            </div>

        </div>
        
        <div class="scroll_section">
            
            <button id="scroll" class="scroll_btn"><img src="<%= asset_path 'home/arrow.svg' %>"></button>
			
			<div class="hide_btn">
				<a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8' id="ios"><img src="<%= asset_path 'home/app-store-badge-us-black.svg' %>"></a>
				<a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets' id="android"><img src="<%= asset_path 'home/google-play-badge-us.svg' %>"></a>
			</div>

            <div class="container">
                
                <div class="item">
                    <img src="<%= asset_path 'home/car.svg' %>">
                    <p><b>24 Hour</b><br>Next Day Delivery</p>
                </div>
                
                <div class="item">
                    <img src="<%= asset_path 'home/phone.svg' %>">
                    <p><b>First Dedicated application</b><br>for pets in the UAE</p>
                </div>
                
                <div class="item">
                    <img src="<%= asset_path 'home/cat.svg' %>">
                    <p><b>The only Shopping Mobile App</b><br>dedicated for pets in the UAE</p>
                </div>
                
            </div>
            
            <div class="check_container">
                <p><img src="<%= asset_path 'home/orange-arrow.svg' %>"><b>More than</b> 80 Brands</p>
                <p><img src="<%= asset_path 'home/orange-arrow.svg' %>"><b>More than</b> 10,000 Items</p>
                <p><img src="<%= asset_path 'home/orange-arrow.svg' %>"><b>Products for</b> Dogs, cats, birds, hamsters and more</p>
            </div>
            
        </div>
 
        <div class="brands b_width" id="brands">
            <h1 class="b_h1"><span>Trusted</span> Brands Available Here</h1>
			<button id="brands_left" class="controller left"><img src="<%= asset_path 'home/left.svg' %>"></button>
			<button id="brands_right" class="controller right"><img src="<%= asset_path 'home/right.svg' %>"></button>
            <div class="container b_width">
                <div class="item"><img src="<%= asset_path 'home/brands/nutrapet-logo.jpg' %>"><p>Nature pet</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/8in1-logo.jpg' %>"><p>8in1</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/acana-logo.jpg' %>"><p>Acana</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/almonature-logo.jpg' %>"><p>Almonature</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/appllaws-logo.jpg' %>"><p>Appllaws</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/cesar-logo.jpg' %>"><p>Cesar</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/dreamies-logo.jpg' %>"><p>Dreamies</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/goodboy-logo.jpg' %>"><p>Goodboy</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/happy-cat-logo.jpg' %>"><p>Happy-cat</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/happy-dog-logo.jpg' %>"><p>Happy-dog</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/kitcat-logo.jpg' %>"><p>Kitcat</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/kong-logo.jpg' %>"><p>Kong</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/markchappel-logo.jpg' %>"><p>Markchappel</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/merrick-logo.jpg' %>"><p>Merrick</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/nylabone-logo.jpg' %>"><p>Nylabone</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/orijen-logo.jpg' %>"><p>Orijen</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/ossobello-logo.jpg' %>"><p>Ossobello</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/pedigree-logo.jpg' %>"><p>Pedigree</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/proline-logo.jpg' %>"><p>Proline</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/purina-logo.jpg' %>"><p>Purina</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/purina-pro-logo.jpg' %>"><p>Purina-pro</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/redbarn-logo.jpg' %>"><p>Redbarn</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/royalcanin-logo.jpg' %>"><p>Royalcanin</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/schesi-logo.jpg' %>"><p>Schesi</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/sheba-logo.jpg' %>"><p>Sheba</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/smartbones-logo.jpg' %>"><p>Smartbones</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/smokehouse-logo.jpg' %>"><p>Smokehouse</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/tasteofthewild-logo.jpg' %>"><p>Tasteofthewild</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/thrive-logo.jpg' %>"><p>Thrive</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/whimzees-logo.jpg' %>"><p>Whimzees</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/whiska-logo.jpg' %>"><p>Whiska</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/zeal-logo.jpg' %>"><p>Zeal</p></div>
                <div class="item"><img src="<%= asset_path 'home/brands/ziwipeak-logo.jpg' %>"><p>Ziwipeak</p></div>
            </div>
        </div>
		
        <div class="whats_up" id="whats_up_section">
            <h1><span>Know</span> What's Up</h1>
            <p class="descption">Our pets are parts of our family and they should be treated the same way. Ur Pets life offers you a variety of services with details that weren't accessible before. With this user-friendly App, you can now search and choose from more than 1 establishment that fits your loved one's needs, and no longer must worry about lost or found pets since our Unique software can help you connect with the entire pet community.</p>
            
            <div class="b_width container close">
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/shopping.svg' %>"></div>
                    <h3>Shopping</h3>
                    <p>Massive cash back, Loyalty programs and free gift with every purchase. Same day and next day delivery.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/cliniks.svg' %>"></div>
                    <h3>Clinics</h3>
                    <p>For the first time, you can check the vet's credentials from Degree and specialty and check different consultation prices and book in 1 click.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/triners.svg' %>"></div>
                    <h3>Trainers</h3>
                    <p>Select from a variety of freelance trainers and establishment trainers by pricing and credentials such as degrees and specialty.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/adoption.svg' %>"></div>
                    <h3>Adoption</h3>
                    <p>Reach out to thousands of people and find homes to the hundreds of pets that are living without a family.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/gromming.svg' %>"></div>
                    <h3>Grooming</h3>
                    <p>Avoid the hassle of explaining your pets details and what services you want by simply browsing and selecting based on your budget and your location. Your pets breed and size are directly linked to the prices and services to create an easier process.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/day_care.svg'%>"></div>
                    <h3>Boarding & Day Care</h3>
                    <p>When you're traveling or busy, you don't have to worry anymore since we will provide you with multiple options of facilities and pricing, along with services that can help your fluffy family member to be in good hands.</p>
                </div>
                
                <div class="item">
                    <div class="img"><img src="<%= asset_path 'home/whatsUp/lost.svg' %>"></div>
                    <h3>Lost & Found</h3>
                    <p>With our Push notifications and Geofencing technology, reuniting with your loved ones becomes easy. By including the microchip number of your pets and having that in our database, we can easily match the lost pets with their owners.</p>
                </div>
                
            </div>
            
        </div>
		
		<button id="view_all_home">View all</button>
        
        <div class="loyalty" id="loyalty_section">
			
            <div class="item">
                <div class="badge1"><img src="<%= asset_path 'home/loyalty/group-6.svg' %>"></div>
                <img class="img" src="<%= asset_path 'home/loyalty/loyalty-1.png' %>">
                <div class="info">
                    <h2>One of the <span>highest</span><br>Loyalty Programs in the Market</h2>
                    <p>Spend up to AED 500 per transaction and <b>get 3% back</b></p>
                    <p>Spend between AED 500 and AED 1,000 and <b>get 5% back</b></p>
                    <p>Spend Between AED 1,000 and AED 2,000 and <b>get 7.5% back</b></p>
                    <p>Spend more then AED 2,000 per transaction <b>and get 10% back</b></p>
                </div>
            </div>
            
            <div class="item">
                <div class="info">
                    <h2>And of course <span>more cash back</span> for<br>your yearly spends on top of the above</h2>
                    <p>Spend more then AED 5,000 per year and<br><b>get an additional 3% back to your account</b></p>
                    <p>Spend more then AED 10,000 per year and get<br>an <b>additional 5% back</b> to your account on top of<br>the % you are getting back per transaction</p>
                </div>
                <img class="img2" src="<%= asset_path 'home/loyalty/loyalty-2.png' %>">
                <div class="badge2"><img src="<%= asset_path 'home/loyalty/money-bag.svg' %>"></div>
            </div>
            
            
        </div>
        		
        <div class="connect" id="connect_section">
			
            <div class="image_container">
                <div class="elements">

                    <img class="logo" src="<%= asset_path 'home/connect/group.svg' %>">
                        <img class="map" src="<%= asset_path 'home/connect/map.svg' %>">

                    <div class="active_point clinic">
                        <img src="<%= asset_path 'home/map/clinic.svg' %>">
                        <span>Pet Clinic</span>
                    </div>

                    <div class="active_point resort" >
                        <img src="<%= asset_path 'home/map/paw.svg' %>">
                        <span>Pet Resort</span>
                    </div>

                    <div class="active_point spa" >
                        <img src="<%= asset_path 'home/map/bath.svg' %>">
                        <span>Pet Spa</span>
                    </div>

                </div>
            </div>
			
            <p><b>Connects pet owners</b> to pet business in the UAE, giving you multiple options and<br>rate comparisons between Pet Resorts, Pet Spas, Clinics and more!</p>
			
        </div>
		

        
        <div class="start" id="start_section">
			
			<div class="b_width">
				
				<div class="info">
                	<h1>Super <span>Simple</span>.<br>Super <span>Quick</span>.</h1>
                	<p>No need to always carry your pet's passports to the different establishment or even keep checking it for whenever you need any data, with simple steps you can create your pets digital passport to be stored and linked with any establishment you book with.</p>
                	<div class="store_btn">
                    	<a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8'><img src="<%= asset_path 'home/app-store-badge-us-black.svg' %>"></a>
                      <a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets'><img src="<%= asset_path 'home/google-play-badge-us.svg' %>"></a>
                	</div>
            	</div>
            
            	<img class="phone" src="<%= asset_path 'home/start/phone.png' %>">
			
			</div>
           
        </div>



        <div class="access">
            <h1>One time set up. <span>Easy Access.</span></h1>
            <p>For just 5 minutes, update your pet's data, vaccinations and health history to keep track of their weight development, health factors and get reminders on due date for the essential vaccinations. Your data is stored forever and will be shared on the spot with any booking you make to save you the hassle of giving all these info by phone or in person.</p>
            <img src="<%= asset_path 'home/access/phones.png' %>">
        </div>
    </body>
    
</html>