<div class="container-fluid">
  <div id="container-1">
     <%= link_to "Log in for establishment owner", admin_panel_root_path, class: "btn btn-warning btn-login-admin" %>
    <div class="row">
      <div class="col">
        <div class="row">
          <%= image_tag('landing/logo.png', id: 'logo') %>
        </div>

        <div class="row first-text">
          From Paws to Tails, we care<br>
          because pets are family
        </div>

        <div class="row second-text">
          Ur Pets Life is an awesome new app for<br>
          managing your pets life in real-time,<br>
           anytime anywhere, at no cost.
        </div>

        <div class="row store-buttons">
          <a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8'>
            <%= image_tag('landing/app-store-badge.png') %>
          </a>
          <a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets'>
            <%= image_tag('landing/google-play-badge.png', class: 'store-button') %>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row iphone-image"></div>
      </div>
    </div>

  </div>

  <div id="container-2">

    <div class="row justify-content-center whats-up-text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      Know What's Up
    </div>

    <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col"></div>
      <div class="col-6 whats-up-text-2">
        <div class="row justify-content-center">
          Our pets are parts of our family and they should be treated the same way. Ur Pets life offers you a
          variety of services with details that weren't accessible before. With this user-friendly App, you can
          now search and choose from more than 1 establishment that fits your loved one’s needs, and no
          longer must worry about lost or found pets since our Unique software can help you connect with the
          entire pet community.
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div id="container-3">
    <div class="row know-section wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col know-image">
        <div class="row justify-content-center">

          <%= image_tag('landing/heart-with-electrocardiogram.png') %>
        </div>

        <div class="row justify-content-center clinics-title">
          Clinics
        </div>

        <div class="row description">
          For the first time, you can check the vet's
          credentials from Degree and specialty and check
          different consultation prices and book in 1 click.
        </div>

      </div>
      <div class="col know-image">
        <div class="row justify-content-center">
          <%= image_tag('landing/grooming-glove.png') %>
        </div>

        <div class="row justify-content-center grooming-title">
          Grooming
        </div>

        <div class="row description">
          Avoid the hassle of explaining your pets details
          and what services you want by simply browsing
          and selecting based on your budget and your
          location. Your pets breed and size are directly
          linked to the prices and services to create an
          easier process.
        </div>

      </div>
      <div class="col know-image">
        <div class="row justify-content-center">
          <%= image_tag('landing/baseball.png') %>
        </div>

        <div class="row justify-content-center trainers-title">
          Trainers
        </div>

        <div class="row description">
          Select from a variety of freelance trainers and
          establishment trainers by pricing and credentials
          such as degrees and specialty.
        </div>
      </div>
    </div>

    <div class="row know-section know-section-2 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col know-image">
        <div class="row justify-content-center">

          <%= image_tag('landing/baby_image.png') %>
        </div>

        <div class="row justify-content-center day-care-title">
          Boarding & Day Care
        </div>

        <div class="row description">
          When you're traveling or busy, you don't have to
          worry anymore since we will provide you with
          multiple options of facilities and pricing, along with
          services that can help your fluffy family member to
          be in good hands.
        </div>

      </div>
      <div class="col know-image">
        <div class="row justify-content-center">
          <%= image_tag('landing/map-pin-marked.png') %>
        </div>

        <div class="row justify-content-center lost-title">
          Lost & Found
        </div>

        <div class="row description">
          With our Push notifications and Geofencing
          technology, reuniting with your loved ones
          becomes easy. By including the microchip number
          of your pets and having that in our database, we
          can easily match the lost pets with their owners.
        </div>

      </div>
      <div class="col know-image">
        <div class="row justify-content-center">
          <%= image_tag('landing/adoption_pic.png') %>
        </div>

        <div class="row justify-content-center adoption-title">
          Adoption
        </div>

        <div class="row description">
          Reach out to thousands of people and find homes
          to the hundreds of pets that are living without a
          family.
        </div>
      </div>
    </div>

    <div class="row know-section-3">
      <div class="col">
        <div class="row justify-content-center">
          Shopping, pet relocation and additional services will be available soon.
        </div>
      </div>
    </div>

    </div>



  <div id="container-4">
    <div class="row">
      <div class="col know-image wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
        <%= image_tag('landing/second_iphone.png', class: 'iphone') %>
      </div>
      <div class="col wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="row title">
          Super Simple. Super Quick.
        </div>

        <div class="row description">
          No need to always carry your pet’s passports to the different establishment or<br>
          even keep checking it for whenever you need any data, with simple steps you<br>
          can create your pets digital passport to be stored and linked with any<br>
          establishment you book with
        </div>
      </div>
    </div>
  </div>


  <div id="container-5">
    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col">
        <div class="row justify-content-center title">
          One time set up. Easy access.
        </div>
        <div class="row justify-content-center description">
          For just 5 minutes, update your pet's data, vaccinations and health history to keep track of their<br>
          weight development, health factors and get reminders on due date for the essential vaccinations.<br>
          Your data is stored forever and will be shared on the spot with any booking you make to save you<br>
          the hassle of giving all these info by phone or in person.
        </div>
      </div>
    </div>
  </div>


  <div id="container-7">
    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col bg">
        <div class="row justify-content-center title">
          Get in Touch
        </div>
        <div class="row justify-content-center description py-4">
          Whether you're a Pet's Owner, an Establishment or just simply a animals enthousiast,<br>
          we would love to hear from you.
        </div>
          <div class="row mt-3">
            <div class="col-md-3 offset-3">
              <div class="form-group">
              <%= form_for (@contact_request), remote: true, url: send_message_post_path do |f| %>
              <%= f.label :user_name, class: 'sr-only' %>
              <%= f.text_field :user_name, class: "form-control bg-input pl-0" , placeholder: 'Your Name', required: "required" %>
              </div>
            </div>
            <div class="col-md-3">
              <%= f.label :email, class: 'sr-only' %>
              <%= f.email_field :email, class: "form-control bg-input pl-0" , placeholder: 'Your Email Addres', required: "required" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 offset-3">
                <div class="form-group">
                  <%= f.label :message, class: 'sr-only' %>
                  <%= f.text_area :message, class: "form-control bg-input pl-0" , placeholder: 'Write your message...', required: "required" %>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center pt-4">
              <div class="form-group">
                <%= f.submit "Send", class: 'btn btn-orange' %>
              </div>
            </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

  <div id="container-6">
    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <a href="https://www.facebook.com/urpetslife" class="btn btn-primary btn-social fb-button" role="button" aria-pressed="true"></a>
      <a href="https://www.instagram.com/urpetslife/" class="btn btn-violet btn-social ins-button" role="button" aria-pressed="true"></a>
      <button type="button" class="btn btn-info btn-social tw-button"></button>
      <button type="button" class="btn btn-danger btn-social gl-button"></button>
    </div>

    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <%= image_tag('landing/logo.png', id: 'footer-logo') %>
    </div>


    <div class="row justify-content-center copyright wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      © Ur Pets Life 2018
    </div>
    <div class="row justify-content-center">
       <div class="col-md-2" style="margin-left: 50px;display: inline-block;float: left;margin-right: -130px;" >
         <%= link_to 'Privacy Policy', { controller: "pages", action: "new_privacy_policy" }, {:style=>'color:#ef5d3c;'} %>
       </div>
       <div class="col-md-2" style="display: inline-block;float: left" >
         <%= link_to 'Terms and Conditions', { controller: "pages", action: "term_conditions" }, {:style=>'color:#ef5d3c;'} %>
       </div>
     </div>
  </div>
</div>
