<div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<article>
					<h2>From Paws To Tails we care, because pets are family.</h2>
					<p>Ur Pets Life is the first mobile application worldwide that brings you a full 360° solution and services that your pet can ever require.</p>
					<a href='https://itunes.apple.com/us/app/ur-pets-life/id1356559735?ls=1&mt=8' target="_blank"><img src="<%= asset_path 'newlanding/app-store.png' %>" alt=""></a>
					<a href='https://play.google.com/store/apps/details?id=com.foxtrapp.pets' target="_blank"><img src="<%= asset_path 'newlanding/google.png' %>" alt=""></a>
				</article>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="<%= asset_path 'newlanding/petlife-mockup.png' %>" alt="">
			</div>
		</div>
	</div>
</div>


<div class="proSec">
	<div class="container">
		<div class="row proslider">


			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/2/Acana.JPEG');"></figure>
				<article>
					<h3>Acana</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/3/8_in_1.JPEG');"></figure>
				<article>
					<h3>8 in 1</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/7/Applaws.JPEG');"></figure>
				<article>
					<h3>Applaws</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/8/Armitage.JPEG');"></figure>
				<article>
					<h3>Armitage</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/25/Happy_Cat.JPEG');"></figure>
				<article>
					<h3>Happy Cats</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/26/Happy_Dog.JPEG');"></figure>
				<article>
					<h3>Happy Dog</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/28/Kit_Cat.JPEG');"></figure>
				<article>
					<h3>Kit Cat</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/29/Kong.JPEG');"></figure>
				<article>
					<h3>Kong</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/32/Mark___Chappell.JPEG');"></figure>
				<article>
					<h3>Mark & Chappell</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/33/Merrick.JPEG');"></figure>
				<article>
					<h3>Merrick</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/36/Nutrapet.JPEG');"></figure>
				<article>
					<h3>Nutrapet</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/38/Nylabone.JPEG');"></figure>
				<article>
					<h3>Nylabones</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/39/Orijen.JPEG');"></figure>
				<article>
					<h3>Orijen</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/40/Ossobello.JPEG');"></figure>
				<article>
					<h3>Ossobello</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/45/Proline.JPEG');"></figure>
				<article>
					<h3>Proline</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/46/Purina.JPEG');"></figure>
				<article>
					<h3>Purina</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/47/Purina_Pro_Plan.JPEG');"></figure>
				<article>
					<h3>Purina Pro Plan</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/48/Red_Barn.JPEG');"></figure>
				<article>
					<h3>Red Barn</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/50/Royal_Canin.JPEG');"></figure>
				<article>
					<h3>Royal Canin</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/51/Schesir.JPEG');"></figure>
				<article>
					<h3>Schesir</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/53/Smart_Bones.JPEG');"></figure>
				<article>
					<h3>SmartBones</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/54/Smokehouse.JPEG');"></figure>
				<article>
					<h3>Smokehouse</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/57/Taste_Of_The_Wild.JPEG');"></figure>
				<article>
					<h3>Taste Of The Wild</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/58/Thrive.JPEG');"></figure>
				<article>
					<h3>Thrive</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/59/Whimzees.JPEG');"></figure>
				<article>
					<h3>Whimzees</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/60/Zeal.JPEG');"></figure>
				<article>
					<h3>Zeal</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/61/Ziwi_Peak.JPEG');"></figure>
				<article>
					<h3>Ziwi Peak</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/62/Almo_Nature.JPEG');"></figure>
				<article>
					<h3>Almo Nature</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/64/Cesar.JPEG');"></figure>
				<article>
					<h3>Cesar</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/65/Dreamies.JPEG');"></figure>
				<article>
					<h3>Dreamies</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/68/Pedigree.JPEG');"></figure>
				<article>
					<h3>Pedigree</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/69/Sheba.JPEG');"></figure>
				<article>
					<h3>Sheba</h3>
				</article>
			</div>
			<div class="product">
				<figure style="background-image: url('https://s3-us-west-2.amazonaws.com/urpets/urpets/uploads/item_brand/picture/73/Whiskas.JPEG');"></figure>
				<article>
					<h3>Whiskas</h3>
				</article>
			</div>


		</div>
	</div>
</div>


<div class="whatsknow">
	<div class="container">
		<div class="row">
			<h2>Know What's Up</h2>
			<p>Our pets are parts of our family and they should be treated the same way. Ur Pets life<br> offers you a variety of services with details that weren't accessible before. With this user-<br>friendly App, you can now search and choose from more than 1 establishment that fits<br> your loved ones needs, and no longer must worry about lost or found pets since our<br> Unique software can help you connect with the entire pet community.</p>
		</div>
		<div class="row marginTop multiple-items">
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/cart.png' %>" alt=""></figure>
					<h3>Shopping</h3>
					<p>Massive cash back, Loyalty programs and free gift with every purchase. Same day and next day delivery.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-1_old.png' %>" alt=""></figure>
					<h3>Clinics</h3>
					<p>For the first time, you can check the vet's credentials from Degree and specialty and check different consultation prices and book in 1 click.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-2_old.png' %>" alt=""></figure>
					<h3>Grooming</h3>
					<p>Avoid the hassle of explaining your pets details and what services you want by simply browsing and selecting based on your budget and your location. Your pets breed and size are directly linked to the prices and services to create an easier process.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-3_old.png' %>" alt=""></figure>
					<h3>Trainers</h3>
					<p>Select from a variety of freelance trainers and establishment trainers by pricing and credentials such as degrees and specialty.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-4_old.png' %>" alt=""></figure>
					<h3>Boarding & Day Care</h3>
					<p>When you're traveling or busy, you don't have to worry anymore since we will provide you with multiple options of facilities and pricing, along with services that can help your fluffy family member to be in good hands.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-5_old.png' %>" alt=""></figure>
					<h3>Lost & Found</h3>
					<p>With our Push notifications and Geofencing technology, reuniting with your loved ones becomes easy. By including the microchip number of your pets and having that in our database, we can easily match the lost pets with their owners.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="bx">
					<figure><img src="<%= asset_path 'newlanding/icon-6_old.png' %>" alt=""></figure>
					<h3>Adoption</h3>
					<p>Reach out to thousands of people and find homes to the hundreds of pets that are living without a family.</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="thrdSec">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h2>One of the<strong> highest Loyalty Programs</strong> in the Market</h2>
				<ul>
					<li><span> Spend up to AED 500 per transaction and get 3% back</span></li>
					<li><span> Spend between AED 500 and AED 1,000 and get 5% back</span></li>
					<li><span> Spend Between AED 1,000 and AED 2,000 and get 7.5% back</span></li>
					<li><span> Spend more then AED 2,000 per transaction and get 10% back</span></li>
				</ul>
				<h2>And off course more cash back for your
yearly spends on top of the above</h2>
				<ul>
					<li><span> Spend more then AED 5,000 per year and get an additional 3% back to your account</span></li>
					<li><span> Spend more then AED 10,000 per year and get an additional 5% back to your account on top of the % you are getting back per transaction</span></li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="<%= asset_path 'newlanding/img.png' %>" alt="">
			</div>
		</div>
	</div>
</div>

<div class="forth">
	<div class="container">
		<div class="row  multiple-items">
			<div class="col-md-4 col-sm-4">
				 <figure style="background-image: url(<%= asset_path 'newlanding/box-img-1.jpg' %>)">
				 	<figcaption><p>24 Hour Delivery</p></figcaption>
				 </figure>
			</div>
			<div class="col-md-4 col-sm-4">
				 <figure style="background-image: url(<%= asset_path 'newlanding/box-img-2.jpg' %>)">
			  <figcaption><p>First Dedicated application for pets in the UAE</p></figcaption>
				 </figure>
			</div>
			<div class="col-md-4 col-sm-4">
				 <figure style="background-image: url(<%= asset_path 'newlanding/box-img-3.jpg' %>)">
				 	<figcaption><p>The only Shopping Mobile applications dedicated for pets in the UAE</p></figcaption>
				 </figure>
			</div>
		</div>
	</div>
</div>

<div class="cta">
	<div class="container">
		<div class="row">
			<figure style="background-image: url(<%= asset_path 'newlanding/cta.jpg' %>);">
				<figcaption>
					<p><span>UR PETS LIFE</span> connects pet owners
to pet business in the UAE, giving
you multiple options and rate
comparisons between Pet Resorts/
Pet Spas/Clinics and more
</p>
				</figcaption>
			</figure>
		</div>
	</div>
</div>


<div class="cta2">
	<div class="container">
		<article>
			<h2>More than
				<strong>70 Brands</strong>
			</h2>
			<h2>More than
				<strong>3,000 Items</strong>
			</h2>
			<h2>Products for
				<strong>Dogs/Cats/Birds/Hamsters and more</strong>
			</h2>
		</article>
	</div>
</div>

<div class="supersimple" style=" background-image: url(<%= asset_path 'newlanding/banner2.png' %>);">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="<%= asset_path 'newlanding/mob2.png' %>" alt="">
			</div>
			<div class="col-md-6 col-sm-12">
				<article>
					<h2>Super Simple. Super Quick.</h2>
					<p>No need to always carry your pets passports to the different establishment or
even keep checking it for whenever you need any data, with simple steps you
can create your pets digital passport to be stored and linked with any
establishment you book with</p>
				</article>
			</div>
		</div>
	</div>
</div>


<div class="Easyaccess">
	<div class="container">
		<div class="row">
			<h2>One time set up. Easy access.</h2>
			<p>For just 5 minutes, update your pet's data, vaccinations and health history to keep track of their<br>
weight development, health factors and get reminders on due date for the essential vaccinations.<br>
Your data is stored forever and will be shared on the spot with any booking you make to save you<br>
the hassle of giving all these info by phone or in person.</p>
	<img src="<%= asset_path 'newlanding/app-2.png' %>" alt="">
		</div>
	</div>
</div>

<div class="getintouch">
	<div class="container">
		<div class="row">
			<h2>Get in Touch</h2>
			<p>Whether you're a Pet's Owner, an Establishment or just simply a animals enthousiast,<br>
we would love to hear from you.</p>
		</div>
		<div class="form">

			  <%= form_for (@contact_request), remote: true, url: send_message_post_path do |f| %>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<%= f.text_field :user_name, placeholder: 'Your Name', required: "required" %>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<%= f.email_field :email, placeholder: 'Your Email Address', required: "required" %>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<%= f.text_area :message , placeholder: 'Write your message...', required: "required" %>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<%= f.submit "Send" %>
					</div>
				</div>
				<% end %>

		</div>
	</div>
</div>
