<div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
  <h1>Stray Cat Community</h1>
</div>

<div class="contentPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Nobody deserves to stay hungry. The kind hearted people of UAE have been selflessly feeding the region's stray cats. </p>
        <p>There is nothing as comforting as feeding a starving soul. Let us all join hands to support the wonderful cause and make a difference in the lives of the needy animals.</p>
        <p>Ur Pets Life is has been helping hundreds of good Samaritans to obtain discounts and freebies on their shopping needs for the strays in order for them to save some money and have more room to help others.</p>
        <p>If you are an animal lover and are feeding UAE's stray cats from your own pocket, we are here to extend you some help.</p>
        <p>Mail us at info@urpetslife.com or call on 04-8849449 to avail good deals and discounts in food for cats.</p>
        <p><span class="red-big">Coming soon : TNR Program</span></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <img src="<%= asset_path 'newlanding/Stray1.jpg' %>" class="img-full" alt="Responsive image">
    <img src="<%= asset_path 'newlanding/Stray2.jpg' %>" class="img-full" alt="Responsive image">
    <img src="<%= asset_path 'newlanding/Stray3.jpg' %>" class="img-full" alt="Responsive image">
    <img src="<%= asset_path 'newlanding/Stray4.jpg' %>" class="img-full" alt="Responsive image">
  </div>
</div>
