%tr
  %th{ scope: 'row' } #{clinic.id}
  %td #{clinic.name}
  %td
    -if clinic.picture.present?
      =image_tag(clinic.picture.thumb.url)
  %td #{clinic.email}
  %td #{clinic.mobile_number}
  %td #{clinic.vets.size}
  %td #{clinic.is_active}
  %td
    =link_to 'Show', admin_panel_clinic_path(clinic), class: 'btn btn-primary'
    =link_to 'Edit', edit_admin_panel_clinic_path(clinic), class: 'btn btn-warning'
    =link_to 'Delete', admin_panel_clinic_path(clinic), method: :delete, class: 'btn btn-danger'
