%div
  .page-title
    .title_left
      %h3 Clinics 

  .clearfix
  
  = form_for @clinic, url: admin_panel_clinics_path,
  html: { multipart: true, method: :post, class: 'form-horizontal form-label-left', autocomplete: 'off'} do |f|

    .row
      .col-md-6.col-sm-6.col-xs-12
        .x_panel
          .x_title
            %h2 Main Info
            .clearfix
          .x_content
            %br
            .form-group
              = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.text_field :name, class: 'form-control', required: true
            .form-group
              = f.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.email_field :email, class: 'form-control', required: true
            .form-group
              = f.label :picture, class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                -if @clinic.picture.present?
                  =image_tag @admin.picture.medium.url, class: 'avatar-show', style: ' display:block;margin:auto'

                = f.file_field :picture
                = f.hidden_field :picture_cache
            .form-group
              = f.label :mobile_number, 'Phone', class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.text_field :mobile_number, class: 'form-control', required: true
            .form-group
              = f.label :is_emergency, 'Work for emergency', class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.check_box :is_emergency, class: 'flat'
            .form-group
              = f.label :specialization_ids, 'Specializations', class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.collection_select :specialization_ids, Specialization.for_clinic, :id, :name, {}, { multiple: true, class: 'select2' }
            .form-group
              = f.label :pet_type_ids, 'Pet types', class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.collection_check_boxes :pet_type_ids, PetType.all, :id, :name do |pt|
                  = pt.check_box(id: pt.object.name.downcase, class: "check_box_picture #{pt.object.name.downcase}")
                  %label{for: pt.object.name.downcase, class: 'check_box_picture', title: pt.object.name}
            .form-group
              = f.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12'
              .col-md-9.col-sm-9.col-xs-12
                = f.text_area :description, rows: 5, class: 'form-control no-resize'

      .col-md-6.col-sm-6.col-xs-12
        .x_panel
          .x_title
            %h2 Working hours
            .clearfix
          .x_content
            %br
            = f.fields_for :schedule do |ff|
              .form-group
                = ff.label :day_and_night, 'Open 24/7', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-9.col-sm-9.col-xs-12
                  = ff.check_box :day_and_night, class: 'flat day_and_night'
              .form-group
                = ff.label :monday_open_at, 'Monday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :monday_open_at, class: 'form-control timepicker open'
                = ff.label :monday_close_at, 'Monday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :monday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :tuesday_open_at, 'Tuesday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :tuesday_open_at, class: 'form-control timepicker open'
                = ff.label :tuesday_close_at, 'Tuesday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :tuesday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :wednesday_open_at, 'Wednesday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :wednesday_open_at, class: 'form-control timepicker open'
                = ff.label :wednesday_close_at, 'Wednesday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :wednesday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :thursday_open_at, 'Thursday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :thursday_open_at, class: 'form-control timepicker open'
                = ff.label :thursday_close_at, 'Thursday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :thursday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :friday_open_at, 'Friday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :friday_open_at, class: 'form-control timepicker open'
                = ff.label :friday_close_at, 'Friday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :friday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :saturday_open_at, 'Saturday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :saturday_open_at, class: 'form-control timepicker open'
                = ff.label :saturday_close_at, 'Saturday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :saturday_close_at, class: 'form-control timepicker close_time'
              .form-group
                = ff.label :sunday_open_at, 'Sunday open', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :sunday_open_at, class: 'form-control timepicker open'
                = ff.label :sunday_close_at, 'Sunday close', class: 'control-label col-md-3 col-sm-3 col-xs-12'
                .col-md-3.col-sm-3.col-xs-12
                  = ff.text_field :sunday_close_at, class: 'form-control timepicker close_time'

      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2 Address
            .clearfix
          .x_content
            %br

            .form-group
              .col-md-3.col-sm-3.col-xs-12
                = f.fields_for :location do |ff|
                  = ff.hidden_field :latitude
                  = ff.hidden_field :longitude
                  .form-group
                    = ff.label :city
                    = ff.text_field :city, class: 'form-control check_geocoder'
                  .form-group
                    = ff.label :area
                    = ff.text_field :area, class: 'form-control check_geocoder'
                  .form-group
                    = ff.label :street
                    = ff.text_field :street, class: 'form-control check_geocoder'
                  .form-group
                    = label_tag 'Building'
                    = ff.radio_button :building_type, :building, id: 'building_type', class: 'flat check_geocoder building'
                    = label_tag 'Villa'
                    = ff.radio_button :building_type, :villa, id: 'building_type', class: 'flat check_geocoder villa'
                  .form-group.building{style: "display:#{'none' if ff.object.villa?}"}
                    = ff.label :building_name
                    = ff.text_field :building_name, class: 'form-control check_geocoder'
                  .form-group.building{style: "display:#{'none' if ff.object.villa?}"}
                    = ff.label :unit_number
                    = ff.text_field :unit_number, class: 'form-control check_geocoder'
                  .form-group.villa{style: "display:#{'none' if ff.object.building?}"}
                    = ff.label :villa_number
                    = ff.text_field :villa_number, class: 'form-control check_geocoder'
                  .form-group
                    = ff.label :comment
                    = ff.text_area :comment, rows: 5, class: 'form-control no-resize'
              #map.col-md-9.col-sm-9.col-xs-12{style: 'height:550px'}
            .form-group
              .col-md-12.col-sm-12.col-xs-12#geocoding_error
                %label We can not parse your address. You still can save it but some application features may not work correct
            - if @clinic.errors.present?
              .form-group
                .col-md-12.col-sm-12.col-xs-12.error
                  - @clinic.errors.full_messages.each do |m|
                    %label= m
                    %br
    = f.submit 'Create clinik', class: 'btn btn-success pull-right'
