.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @grooming_centre }

  = render partial: 'main_info_form', locals: { f: f }
  = render partial: 'admin_panel/schedules/form', locals: { f: f }
  = render partial: 'admin_panel/pictures/form', locals: { f: f }
  = render partial: 'admin_panel/service_option_details/form', locals: { f: f }
  = render partial: 'admin_panel/locations/form', locals: { f: f }
