%tr
  %th{ scope: 'row' } #{grooming_centre.id}
  %td #{grooming_centre.name}
  %td
    -if grooming_centre.picture.present?
      =image_tag(grooming_centre.picture.thumb.url)
  %td #{grooming_centre.email}
  %td #{grooming_centre.mobile_number}
  %td #{grooming_centre.is_active}
  %td
    =link_to 'Show', admin_panel_grooming_centre_path(grooming_centre), class: 'btn btn-primary'
    =link_to 'Edit', edit_admin_panel_grooming_centre_path(grooming_centre), class: 'btn btn-warning'
    =link_to 'Delete', admin_panel_grooming_centre_path(grooming_centre), method: :delete, class: 'btn btn-danger'
