.nested-fields
  - if f.object._destroy
    = f.hidden_field :_destroy
  - else
  .row.order_item
    :javascript
      (setTimeout(function() {
        var pathname = window.location.pathname;
        var regExp = new RegExp("admin_panel\/orders\/[0-9]*\/edit");

        if (regExp.test(pathname)) {
          var items = $('.item_change');
          var idsArray = $.map(items, function (val) {
            $(val).closest('.order_item').find('.max_quantity').attr("disabled", "disabled");
            return $(val).context.value;
          });

          $.ajax({
            type: 'get',
            url: '/admin_panel/get_items_quantities',
            data: {ids_array: idsArray}
          }).done(function (data) {
            $.map(items, function (val, i) {
              var curField = $(val).closest('.order_item').find('.max_quantity');

              curField.attr({
                "max": data.quantities_array[i] + parseInt(curField.val())
              });
              curField.removeAttr("disabled");
            });
          }).fail(function () {
            console.log('server not responding...');
          });
        }
      }, 500))

    .col-md-7.col-3
      - items_array = Item.where('quantity > 0').pluck(:name, :id).push(f.object.persisted? ? [f.object.item.name, f.object.item.id] : nil)

      = f.select :item_id, items_array.compact.uniq , { include_blank: true },
                  { class: 'form-control select2 changed_subtotal item_id item_change' }

    .col-md-3.col-3
      = f.number_field :Quantity, min: 1, class: 'form-control changed_subtotal quantity max_quantity'

    .col-md-2.col-3
      = link_to_remove_association f, class: 'btn btn-danger full-width' do
        = '-'
        %span.fa.fa-shopping-basket{"aria-hidden" => "true"}
