.nested-fields
  - if f.object._destroy
    = f.hidden_field :_destroy
  - else
  .row.order_item
    .col-md-7.col-3
      - items_array = Item.where('quantity > 0').pluck(:name, :id).push(f.object.persisted? ? [f.object.item.name, f.object.item.id] : nil)

      = f.select :item_id, items_array.compact.uniq , { include_blank: true },
                  { class: 'form-control select2 changed_subtotal item_id item_change' }

    .col-md-3.col-3
      = f.number_field :Quantity, min: 1, class: 'form-control changed_subtotal quantity max_quantity'

    .col-md-2.col-3
      = link_to_remove_association f, class: 'btn btn-danger full-width' do
        = '-'
        %span.fa.fa-shopping-basket{"aria-hidden" => "true"}
