- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
%div
  .page-title
    .title_left
      %h3 Orders
      = link_to 'Create order', new_admin_panel_order_path, class: 'btn btn-info btn-round pull-left'
    .title_right
      = form_tag admin_panel_orders_path, method: :get do
        = hidden_field_tag :format, :xlsx
        = hidden_field_tag 'request_type', 'excel'
        .form-group.col-md-3.pull-right
          = button_tag 'Export in xlsx', class: 'btn btn-primary btn-round form-btn'
        .form-group.col-md-3.pull-right
          = label_tag :to_date, class: 'control-label' do
            To Date
          = text_field_tag :to_date, '', autocomplete: :off, class: 'form-control single_cal2'
        .form-group.col-md-3.pull-right
          = label_tag :from_date, class: 'control-label' do
            From Date
          = text_field_tag :from_date, '', autocomplete: :off, class: 'form-control single_cal2'
  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          .form-horizontal.additional_parameters
            .form-group
              = label_tag :user_id, 'User Name', class: 'control-label col-md-2 col-sm-2 col-xs-6'
              .col-md-3.col-sm-3.col-xs-6
                = select_tag :user_id, options_from_collection_for_select((User.includes(:orders).where("orders.user_id = users.id").references(:orders).all + UnregisteredUser.all), :id, :name),
                  class: 'form-control select2 additional_parameter', include_blank: true

          %table.table.datatable.orders
            %thead
              %tr
                %th{style: 'width:30px'}  #
                %th User Name
                %th Location
                %th Notes
                %th SubTotal
                %th Net Payable
                %th Mode of Payment
                %th Payment Status
                %th Status
                %th Order Status
                %th Pre-order
                %th Delivered at
                %th Created at
                %th Actions
              %tr
                %th{style: 'width:30px'}
                  = text_field_tag :id, '', class: 'form-control', style: 'width:100%'
                %th
                %th
                %th
                %th
                %th
                %th
                %th
                %th
                  = select_tag :is_viewed, options_for_select([[], ['New', 'false'], ['Older', 'true']]), class: 'form-control select2'
                %th
                  = select_tag :order_status_flag, options_for_select([[], ['Pending', 'pending'], ['Confirmed', 'confirmed'], ['On The Way', 'on_the_way'], ['Delivered', 'delivered'], ['Delivered by card', 'delivered_by_card'], ['Delivered by cash', 'delivered_by_cash'], ['Cancelled', 'cancelled']]), class: 'form-control select2'
                %th
                %th
                %th
                %th
            %tbody
