.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Main Info
      .clearfix
    .x_content
      %br

      .form-group
        = f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Name
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :name, class: 'form-control', required: true
      .form-group
        = f.label :picture, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Picture
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          -if @additional_service.picture?
            =image_tag @additional_service.picture.medium.url, class: 'avatar-show', style: ' display:block;margin:auto'

          = f.file_field :picture, accept: '.jpg,.jpeg,.bmp,.png'
          = f.hidden_field :picture_cache
      .form-group
        = f.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Email
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.email_field :email, class: 'form-control', required: true
      .form-group
        = f.label :website, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :website, class: 'form-control'
      .form-group
        = f.label :mobile_number, class: 'control-label col-md-3 col-sm-3 col-xs-12' do
          Phone
          %span.required *
        .col-md-9.col-sm-9.col-xs-12
          = f.text_field :mobile_number, class: 'form-control', required: true
      .form-group
        = f.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12'
        .col-md-9.col-sm-9.col-xs-12
          = f.text_area :description, rows: 5, class: 'form-control no-resize'
