.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @admin_panel_item_category }
- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

.col-md-6.col-sm-6.col-xs-12
  .x_panel
    .x_title
      %h2 Main Info
      .clearfix
    .x_content
      %br
      .form-group
        = f.label :name, class: 'control-label col-md-4 col-sm-4 col-xs-12' do
          Category Name
          %span.required *
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :name, class: 'form-control', required: true

      .form-group
        = f.label :IsHaveBrand, class: 'control-label col-md-4 col-sm-4 col-xs-12' do
          Have Brand(s)
        .col-md-8.col-sm-8.col-xs-12
          = f.check_box :IsHaveBrand, class: 'flat'

      .form-group
        = f.label :pet_type_ids, 'For Pet Type(s) *', class: 'control-label col-md-4 col-sm-4 col-xs-12'
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :pet_type_ids, PetType.where(:IsHaveCategories => true), :id, :name, {}, { multiple: true, class: 'select2', required: true }

      .form-group
        = f.label :picture, class: 'control-label col-md-4 col-sm-4 col-xs-12' do
          Picture
          %span.required *
        .col-md-8.col-sm-8.col-xs-12
          - if @admin_panel_item_category.picture?
            = image_tag @admin_panel_item_category.picture.url, class: 'avatar-show', style: 'display:block;margin:8px 0px;width:inherit;height:inherit;'
          = f.file_field :picture, required: @admin_panel_item_category.picture? ? false : true, accept: '.jpg,.jpeg,.bmp,.png'
