- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
%div
  .page-title
    .title_left
      %h3 Item Categories
      = link_to 'Add New', new_admin_panel_item_category_path, class: 'btn btn-info btn-round form-btn'
    .title_right
      = form_tag admin_panel_item_categories_path, method: :get do
        = hidden_field_tag :format, :xlsx
        = hidden_field_tag 'request_type', 'excel'
        .form-group.col-md-3.pull-right
          = label_tag :from_date, class: 'control-label' do
            Export:
          .form-group
            = button_tag 'Orders', class: 'btn btn-primary btn-round form-btn'
        .form-group.col-md-3.pull-right
          = label_tag :to_date, class: 'control-label' do
            To Date *
          = text_field_tag :to_date, '', required: true, autocomplete: :off, class: 'form-control single_cal2'
        .form-group.col-md-3.pull-right
          = label_tag :from_date, class: 'control-label' do
            From Date *
          = text_field_tag :from_date, '', required: true, autocomplete: :off, class: 'form-control single_cal2'


  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table.datatable.itemcategories
            %thead
              %tr
                %th{style: 'width:30px'}  #
                %th Name
                %th Picture
                %th Have Brands
                %th Actions
              %tr
                %th{style: 'width:30px'}
                  = text_field_tag :id, '', class: 'form-control', style: 'width:100%'
                %th
                  = text_field_tag :name, '', class: 'form-control', style: 'width:100%'
                %th
                %th
                %th
            %tbody
