%p Dear Admin,
%p Recurring Job has failed to put recurring order with following description:
%p Order Id: #{@orderitem.order.id}
%p Order Item Id: #{@orderitem.id}
%p Item Name: #{@orderitem.item.name}
%p Quantity: #{@orderitem.Quantity}
%p Customer Name #{@orderitem.order.user.name}
%p Customer Mobile Number: #{@orderitem.order.user.mobile_number}
%p Customer Email: #{@orderitem.order.user.email}
%p Shipping Address: #{@userAddress}
%Thanks You
%Ur Pets Life
