%p Dear Admin,
%p System has placed new recurring order with following details:
%p Parent Order Id: #{@orderitem.order.id}
%p Parent Order Item Id: #{@orderitem.id}
%p Item Name: #{@orderitem.item.name}
%p Quantity: #{@orderitem.Quantity}
%p Customer Name #{@orderitem.order.user.name}
%p Customer Mobile Number: #{@orderitem.order.user.mobile_number}
%p Customer Email: #{@orderitem.order.user.email}
%p Shipping Address: #{@userAddress}
%p Please login to admin panel update order status.
%Thank You
%Ur Pets Life
