%p Dear Admin,
%p Recurring Job has failed to put recurring order with following description:
%p Order Id: #{@order_item.order.id}
%p Order Item Id: #{@order_item.id}
%p Item Name: #{@order_item.item.name}
%p Quantity: #{@order_item.Quantity}
%p Customer Name #{@order_item.order.user.name}
%p Customer Mobile Number: #{@order_item.order.user.mobile_number}
%p Customer Email: #{@order_item.order.user.email}
%p Shipping Address: #{@user_address}
%Thanks You
%Ur Pets Life
