%h1 Listing wishlists

%table
  %thead
    %tr
      %th User
      %th Item
      %th
      %th
      %th

  %tbody
    - @wishlists.each do |wishlist|
      %tr
        %td= wishlist.user
        %td= wishlist.item
        %td= link_to 'Show', wishlist
        %td= link_to 'Edit', edit_wishlist_path(wishlist)
        %td= link_to 'Destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Wishlist', new_wishlist_path
