<!DOCTYPE html>
<html>
    
    <head>
		
<!--		<meta charset="UTF-8">-->
        
<!--        <link rel="stylesheet" href="style.css">-->
<!--        <link rel="stylesheet" href="log_in/log_in.css">-->
<!--        <link rel="stylesheet" href="reset_password/reset_password.css">-->
		
<!--		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--		<script src="log_in/log_in.js"></script>-->
		        
    </head>
    
    <body>
		
		<a class="back_btn" href="<%= index_path %>"><img src="<%= asset_path 'log_in/arrow-left.svg' %>"></a>
		
		<div class="log_in_form">
			<a class="close_btn" href="<%= index_path %>"><img src="<%= asset_path 'log_in/button-close.svg' %>"></a>
			<img class="logo" src="<%= asset_path 'log_in/group.svg' %>">
			<p class="head">Forgot your password?</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<div class="b_input">
				<div class="content">
					<p>Your Email Address</p>
          <%= f.email_field :email, autofocus: true, type: "email", required: true %>
				</div>
				<span class="error">Wrong message</span>
			</div>

      <%= f.submit "Send me reset password instructions", class: 'login_btn' %>

			<span class="forgot_password">Log-in instead? <a href="<%= admin_panel_root_path %>">Click here.</a></span>
			<% end %>
		</div>
		
		
		<img class="bottom_img" src="<%= asset_path 'log_in/pets.jpg' %>">
		
    </body>
    
</html>