%div
  .page-title
    .title_left
      %h3 Tax reports

  .clearfix

  = form_tag admin_panel_tax_reports_path, method: :get do
    = hidden_field_tag :format, :xlsx
    = hidden_field_tag 'request_type', 'excel'
    .form-group.col-md-3
      = label_tag :from_date, class: 'control-label' do
        From Date
      = text_field_tag :from_date, '', autocomplete: :off, class: 'form-control single_cal2'
    .form-group.col-md-3
      = label_tag :to_date, class: 'control-label' do
        To Date
      = text_field_tag :to_date, '', autocomplete: :off, class: 'form-control single_cal2'
    .form-group.col-md-3
      = button_tag 'Export in xlsx', class: 'btn btn-primary btn-round form-btn'

