%tr
  %th{ scope: 'row' } #{pet.id}
  %td= pet.name
  %td= pet.avatar
  %td= pet.birthday
  %td= pet.pet_type
  %td= pet.gender
  %td= link_to pet.weight, weight_history_admin_panel_pet_path(pet), remote: true if pet.weight.present?
  %td= pet.microchip
  %td= pet.municipality_tag
  %td= pet.status
  %td= pet.actions
