!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - if content_for?(:head)
      = yield(:head)
    %title UrPetsLife
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  -if current_admin
    %body.nav-md
      .container.body
        .main_container
          = render partial: 'layouts/admin_panel/sidebar'
          = render partial: 'layouts/admin_panel/header'
          .right_col{role: 'main'}
            = yield
          %footer
            .pull-right UrPetsLife 2017
            .clearfix
  -else
    %body.login
      = yield