!!!
%html
  %head
    %title Ur Pets Life
    = favicon_link_tag asset_path('Favicon.ico'), rel: 'icon', type: 'image/x-icon'
    %meta{ name: 'title', content: 'Ur Pets Life' }
    %meta{ name: 'description', content: 'Ur Pets Life is an awesome new app for managing your pets life in real-time, anytime anywhere, at no cost.' }

    /%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %meta{ property: 'og:title', content: 'Ur Pets Life' }
    %meta{ property: 'og:url', content: 'http://www.urpetslife.com' }
    %meta{ property: 'og:image', content: asset_path('IMG.png') }

    %link{ href: 'http://www.urpetslife.com', rel: 'canonical' }
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

    - if content_for?(:head)
      = yield(:head)
    = csrf_meta_tags
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'landing', 'data-turbolinks-track': 'reload'
  %body
    - unless flash.empty?
      %script{ type: "text/javascript" }
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          toastr["#{ type }"]("#{ f[1] }")
    = yield
